.part-table {
    width: 100%;
    background: transparent;
}

.part-table__title {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0;
    color: #EFECE3;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #4A70A9;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.part-table__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}